<%- include("header") %> 

<h1>Hello, I am Nishanth, creator of this masterpeice.</h1>
<p>This website is solely dedicated for sorting out your to-do list and we do not charge for using it.Feel free dwell in!</p>

<%- include("footer") %> 